<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/icreonworklogs</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
     <!--   <property name="hibernate.connection.username">icreonworklogs</property>
        <property name="hibernate.connection.password">dsfsdf4TYrurT4234#</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Drop the existing tables and create new one
        <property name="hbm2ddl.auto">update</property>  -->
        
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
   
   
   
    </session-factory>
</hibernate-configuration>
